*{
  all: unset;
}
window {
  background-color: unset;
  color: #ffd5cd;
}



.prog-bar scale trough highlight {
  all: unset;
  background-color: #FFB300;
  color: #000000;
  border-radius: 20px;
}
.prog-bar scale trough {
  all: unset;
  background-color: #4e4e4e;
  border-radius: 50px;
  min-height: 40px;
  min-width: 500px;
  border-radius: 20px;
}

.prog-title {
  all: unset;
  font-family: Iosevka;
  font-size: 48px;
  color: #ffffff;
}
